html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @extend %scroll-bar;
}

#root {
  @extend %wh-full;
}

.column-mobile {
  width: 350px !important;
  padding: 0.75rem 0;
  margin: auto;
}

.columns-mobile {
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.container.is-fluid {
  @include mobile {
    padding: 0 12.5px;
    width: 350px;
    margin: 0;
  }
}
