html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @extend %scroll-bar;
}

#root {
  @extend %wh-full;
}

.column-mobile {
  width: 350px !important;
  padding: 0.75rem 0;
  margin: auto;
}

.columns-mobile {
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.container.is-fluid {
  @include mobile {
    padding: 0 12.5px;
    width: 350px;
    margin: 0;
  }
}

.clickable {
  cursor: pointer;
}

.field-mb {
  margin-bottom: calc(1.5rem - 0.75rem);
}

.a-href {
  cursor: pointer;
  color: hsl(217, 71%, 53%);
  border-bottom: 2px solid hsl(217, 71%, 53%);
  &:hover {
    border-bottom: none;
  }
}

.card-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 1.6rem 0;
  padding: 0 1.9em;
  .tags {
    margin-bottom: 0;
    .tag {
      margin-bottom: 0;
    }
  }
}
